#!/bin/bash

# ##############################################################################
#
# .inputrc
#
# Individual readline init file.
#
# ##############################################################################


# ------------------------------------------------------------------------------
# ADDITIONAL HELPERS
# ------------------------------------------------------------------------------

# Search through history
# https://coderwall.com/p/oqtj8w/the-single-most-useful-thing-in-bash
"\e[A": history-search-backward
"\e[B": history-search-forward

set show-all-if-ambiguous on
